@charset "UTF-8";
nav {
  width: 100%;
  background-color: #000723;
  margin: 0%;
}

nav img {
  width: 340px;
  float: left;
  padding-left: 2%;
  padding-top: 10px;
  margin: 0%;
}

nav ul {
  margin: 0px;
  padding: 0%;
  list-style-type: none;
}

nav ul li a {
  font-size: 18px;
  font-weight: 500;
  width: 10%;
  text-align: center;
  text-decoration: none;
  display: block;
  padding-right: 1%;
  height: 90px;
  line-height: 100px;
  float: right;
  transition: all ease 0.5s;
  border-top: 5px solid #000723;
  color: white;
}

nav ul li a:hover {
  border-top: 5px solid #fe3501;
}

.movil {
  display: none;
}

@media screen and (max-width: 700px) {
  .grande {
    display: none;
  }
  .movil {
    display: block;
    background-color: #000723;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10000;
  }
  .movil img {
    width: 50%;
  }
  #btn-abrir {
    color: rgb(255, 255, 255);
    font-size: 10vw;
    position: fixed;
    right: 0%;
    padding-right: 5%;
    padding-top: 1%;
    top: 0%;
    display: block;
    z-index: 10000;
  }
  nav {
    position: fixed;
    width: 0%;
    height: 100%;
    background-color: #000723;
    top: 0%;
    right: 0%;
    padding-top: 8%;
    overflow: hidden;
    transition: all ease 0.5s;
    z-index: 10000;
  }
  nav ul li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    border-top: none;
    font-size: 30px;
    float: none;
    transition: all ease 0.3s;
  }
  nav ul li a:hover {
    border-top: none;
  }
  #btn-cerrar {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 2%;
    right: 2%;
  }
}
#gif {
  background-color: #fe3501;
  height: calc(100vh - 90px);
  position: relative;
  background-image: url(../img/portada2.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

header a {
  position: absolute;
  bottom: 25px;
  left: 50%;
  font-size: 45px;
  color: white;
}

#img-fondo {
  float: left;
}

/*TRAILER*/
#gif2 {
  background-color: #fe3501;
  height: calc(100vh - 90px);
  position: relative;
  background-image: url(../img/blanco2.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/*SINOPSIS*/
#gif3 {
  height: 100%;
  position: relative;
  padding-bottom: 40%;
}

#gif3 video {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/*REPARTO*/
#gif4 {
  background-color: #fe3501;
  height: calc(100vh - 95px);
  position: relative;
  background-image: url(../img/gif-pp.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (max-width: 700px) {
  #gif {
    margin-top: 13%;
    height: calc(103vh - 90px);
  }
  #gif2 {
    margin-top: 13%;
    height: calc(105vh - 80px);
  }
  #gif3 {
    margin-top: 13%;
  }
  #gif3 a {
    font-size: 0px;
  }
  #gif4 {
    margin-top: 13%;
    height: calc(105vh - 80px);
  }
}
#section1 {
  width: 100%;
  position: relative;
  background-image: url(../img/img-1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 1202px;
}

#section1 img {
  width: 100%;
  padding-top: 450px;
}

#section1 p {
  width: 80%;
  font-size: 25px;
  text-align: left;
  padding-top: 20px;
}

#section2 {
  background-color: #000723;
  padding-top: 15%;
}

.director {
  position: relative;
}

#section2 h1 {
  margin-top: 0%;
  font-size: 60px;
  line-height: 5px;
}

#section2 span {
  border-top: #fe3501 5px solid;
  padding-top: 20px;
}

#section2 h2 {
  margin-top: 0%;
  font-size: 45px;
  line-height: 5px;
  -webkit-text-stroke: 2px #fe3501;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}

#section2 p {
  margin-top: 2%;
  width: 70%;
  padding-right: 5%;
  float: left;
  padding-bottom: 170px;
}

#section2 img {
  position: absolute;
  width: 21%;
  top: -17%;
  right: 0%;
  border: 3px solid #fe3501;
  margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
  /* INICIO*/
  #section2 img {
    position: absolute;
    width: 13rem;
    top: -13%;
    right: 0%;
    border: 3px solid #fe3501;
    margin-bottom: 0px;
  }
  #section2 p {
    text-align: justify;
  }
}
@media screen and (max-width: 900px) {
  #section2 img {
    position: absolute;
    width: 12rem;
    top: -8%;
    right: -3%;
    border: 3px solid #fe3501;
    margin-bottom: 0px;
  }
  #section2 h1 {
    font-size: 7vw;
  }
}
@media screen and (max-width: 700px) {
  #section1 p {
    width: 100%;
    font-size: 23px;
    text-align: justify;
    padding-top: 60px;
  }
  .director {
    width: 100%;
  }
  #section2 {
    height: 1200px;
  }
  #section2 h1 {
    margin-top: 10%;
    line-height: 15px;
    font-size: 9.5vw;
  }
  #section2 span {
    border-top: #fe3501 4px solid;
    padding-top: 10px;
  }
  #section2 h2 {
    font-size: 8vw;
    -webkit-text-stroke: 2px #fe3501;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
  }
  #section2 p {
    margin-top: 15%;
    width: 100%;
    padding-right: 5%;
    text-align: justify;
    font-size: 20px;
    float: none;
    padding-bottom: 40px;
  }
  #section2 img {
    position: sticky;
    width: 80%;
    margin: auto;
    border: 3px solid #fe3501;
  }
}
#blade-runner {
  background-color: black;
}

.bloque1 h1 {
  font-size: 90px;
  margin-top: -280px;
  padding-bottom: 90px;
}

.bloque1 img {
  width: 22%;
  border: 3px solid #f82b43;
  float: left;
}

.bloque1 p {
  width: 80%;
  padding-left: 280px;
  font-size: 23px;
  margin-top: 150px;
}

.bloque1 span {
  border-top: 5px solid #f82b43;
  padding-top: 35px;
}

.bloque2 {
  position: relative;
}

.bloque2 h1 {
  text-align: left;
  margin-top: 250px;
  font-size: 70px;
  line-height: 5px;
}

.bloque2 h2 {
  font-size: 35px;
  line-height: 5px;
  -webkit-text-stroke: 1.5px #f82b43;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
}

.bloque2 p {
  font-size: 23px;
  width: 70%;
  padding-bottom: 100px;
  margin-bottom: 0%;
  margin-top: 50px;
}

.bloque2 img {
  width: 28%;
  border: 3px solid #f82b43;
  position: absolute;
  right: -5%;
  top: -20px;
}

/*SINOPSIS*/
.bloque-sp-1 img {
  width: 100%;
}

.bloque-texto {
  position: relative;
}

.bloque-texto img {
  width: 22%;
  float: left;
  position: absolute;
  right: 0px;
}

.primer-bloque-texto {
  width: 72.5%;
}

@media screen and (max-width: 1200px) {
  .bloque1 h1 {
    font-size: 8vw;
    margin-top: -220px;
  }
  .bloque1 img {
    width: 15em;
    border: 3px solid #f82b43;
    float: left;
  }
  .bloque1 p {
    width: 60%;
    padding-left: 300px;
    font-size: 23px;
    margin-top: 150px;
    text-align: justify;
    margin: auto;
  }
  .bloque1 span {
    border-top: 5px solid #f82b43;
    padding-top: 35px;
  }
  .bloque2 h2 {
    font-size: 35px;
    line-height: 5px;
    -webkit-text-stroke: 1.5px #f82b43;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
  }
  .bloque2 p {
    width: 62%;
    text-align: justify;
  }
  .bloque2 img {
    width: 15rem;
    border: 3px solid #f82b43;
    position: absolute;
    right: 0%;
    top: 80px;
  }
  /* SINOPSIS*/
  .bloque-texto img {
    width: 13rem;
  }
  /* FIN SINOPSIS*/
}
@media screen and (max-width: 900px) {
  .bloque2 img {
    width: 15rem;
    right: -25px;
    top: 100px;
  }
  /* SINOPSIS*/
  .primer-bloque-texto {
    width: 100%;
  }
  .bloque-texto img {
    width: 13rem;
    position: static;
    padding-right: 40px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 700px) {
  .bloque1 h1 {
    font-size: 9vw;
    margin-top: -25%;
    padding-bottom: 80px;
  }
  .bloque1 img {
    width: 80%;
    border: 1px solid #f82b43;
    float: none;
    margin: auto;
  }
  .bloque1 p {
    width: 100%;
    padding-left: 0px;
    font-size: 20px;
    margin-top: 100px;
    text-align: justify;
  }
  .bloque1 span {
    border-top: 3px solid #f82b43;
    padding-top: 20px;
  }
  .bloque2 {
    position: static;
  }
  .bloque2 h1 {
    margin-top: 100px;
    font-size: 12vw;
    line-height: 7px;
  }
  .bloque2 h2 {
    font-size: 9vw;
    line-height: 40px;
    -webkit-text-stroke: 1.5px #f82b43;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
  }
  .bloque2 p {
    font-size: 20px;
    width: 100%;
    padding-bottom: 100px;
    margin: auto;
    text-align: justify;
    padding-top: 50px;
  }
  .bloque2 img {
    width: 80%;
    border: 3px solid #f82b43;
    position: static;
    margin: auto;
  }
  .bloque-texto img {
    float: none;
    margin: auto;
    width: 50%;
    position: static;
  }
  .primer-bloque-texto {
    margin: auto;
    width: 100%;
    padding-top: 40px;
    font-size: 23px;
  }
  .bloque-texto p {
    margin: auto;
    width: 100%;
    padding-top: 40px;
    font-size: 23px;
  }
}
.trailer {
  border-top: #fe3501 8px solid;
  height: 1000px;
  background-color: #000723;
}

.trailer h1 {
  margin-top: 20%;
  margin-bottom: 10%;
  font-size: 60px;
  line-height: 5px;
}

.trailer span {
  border-top: #fe3501 5px solid;
}

#video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

#video iframe,
#video object,
#video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sinopsis {
  background-color: black;
}

.bloque-sp-1 img {
  width: 100%;
}

.sinopsis h1 {
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 70px;
  line-height: 5px;
}

.sinopsis span {
  border-top: #fe3501 5px solid;
  padding-top: 15px;
}

.sinopsis p {
  font-size: 23px;
  padding-bottom: 200px;
  margin: 0%;
}

.visual {
  height: 803px;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

#foto-fondo {
  background-image: url(../img/img2-sinopsis.png);
}

.blade-runner {
  color: white;
  background-color: black;
}

.blade-runner .parrafo {
  font-size: 23px;
  margin-top: -50px;
  padding-bottom: 100px;
}

.blade-runner span {
  border-top: #f82b43 5px solid;
  padding-top: 55px;
}

.libro {
  background-color: black;
  color: white;
  padding-bottom: 150px;
}

.libro h1 {
  margin-top: 0%;
  padding-top: 15%;
  font-size: 60px;
}

.libro h2 {
  -webkit-text-stroke: 1.5px #f82b43;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 55px;
  line-height: 0px;
  margin-bottom: 100px;
}

.libro p {
  text-align: justify;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .bloque-texto img {
    width: 13rem;
  }
}
@media screen and (max-width: 700px) {
  .sinopsis p {
    text-align: justify;
  }
  .blade-runner p {
    text-align: justify;
  }
  .blade-runner .parrafo {
    padding-top: 30px;
  }
  .blade-runner span {
    border-top: #f82b43 3px solid;
    padding-top: 25px;
  }
  .libro h1 {
    font-size: 8.5vw;
  }
  .libro h2 {
    font-size: 7vw;
    -webkit-text-stroke: 0.8px #f82b43;
  }
}
#reparto {
  background-color: #000723;
  padding-bottom: 100px;
}

#reparto h1 {
  margin-top: 0%;
  padding-top: 25%;
  margin-bottom: 10%;
  font-size: 70px;
  line-height: 5px;
}

#reparto span {
  border-top: #a65bf4 5px solid;
  padding-top: 15px;
}

.casting a {
  display: block;
  width: 22%;
  padding-top: 27.5% !important;
  padding: 1.5px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  float: left;
  border: 1.5px solid #a65bf4;
  background-size: cover;
  transition: all ease 0.5s;
  position: relative;
}

.casting a img {
  position: absolute;
  top: 100%;
  left: 20%;
  width: 50%;
  display: none;
  opacity: 0;
  transition: all ease 0.5s;
}

#uno {
  background-image: url(../img/ryan-gonsling.png);
}

#uno:hover {
  background-image: url(../img/ryan-gonsling-hover.png);
}

#dos {
  background-image: url(../img/harrison-ford.png);
}

#dos:hover {
  background-image: url(../img/harrison-ford-hover.png);
}

#tres {
  background-image: url(../img/ANA-DE-ARMAS.png);
}

#tres:hover {
  background-image: url(../img/ANA-DE-ARMAS-HOVER.png);
}

#cuatro {
  background-image: url(../img/la-mala.png);
}

#cuatro:hover {
  background-image: url(../img/la-mala-hover.png);
}

#cinco {
  background-image: url(../img/jared-leto.png);
}

#cinco:hover {
  background-image: url(../img/jared-leto-hover.png);
}

#seis {
  background-image: url(../img/la-jefa.png);
}

#seis:hover {
  background-image: url(../img/la-jefa-hover.png);
}

#siete {
  background-image: url(../img/la-niña.png);
}

#siete:hover {
  background-image: url(../img/la-niña-hover.png);
}

#ocho {
  background-image: url(../img/batista.png);
}

#ocho:hover {
  background-image: url(../img/batista-hover.png);
}

@media screen and (max-width: 700px) {
  #reparto {
    padding-top: 50px;
  }
  #btn {
    top: 600px !important;
  }
  .casting {
    margin-top: 100px;
  }
  .casting a {
    width: 46%;
    padding-top: 57.5% !important;
  }
}
footer {
  background-color: black;
}
footer p {
  text-align: center;
  margin: 0;
  padding: 20px;
}

body {
  margin: 0%;
  color: white;
  font-family: "Montserrat";
}

.centrado {
  margin: auto;
  width: 90%;
  max-width: 960px;
}

.clear {
  clear: both;
}

img {
  width: 100%;
  display: block;
}

.degradado {
  margin-top: -15%;
  background-repeat: repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}/*# sourceMappingURL=style.css.map */